  /*top, right, bottom, left*/

:root {
  --bg: #1a1d21;
  --lightbg: #292d33;
  --lighterbg: #3b3f45;
  
  --grey: #c9c7c7; /*fixed*/
  --grey2: #c9c7c7; /*to darker grey*/
  --grey3: #c9c7c7; /*to black*/

  --babyblue: #C3E0E5;
  --lightblue: #5885AF;
  --darkblue: #41729F;
  --blackblue: #274472;
  --blackblueOpacity: rgba(39, 68, 114, 0.5); 
  --blackbluedark: #1d3258;

  
  --newsColor: rgba(0,200,0,0.9); /* 255, 165, 0 */
  --darkNewsColor: rgba(0,160,20,0.9); /* 255, 131, 0 */
  
  --red: #a80000;
  --darkred: rgba(168, 0, 0, 0.6);
  
  --green: #00b050;
  
  --themeFontColor: white;
  --shadow: rgba(0, 0, 0, 0.4);

}

* {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  html {
    background: var(--bg);
    height: 100%;
    width: 100%;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    overflow-x: hidden;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: var(--themeFontColor);
  }

  a {
    text-decoration: none;
    color: var(--themeFontColor);
  }

/*-------- SIDEBAR --------*/

#side {
  --sidebarWidth: 250px;
  width: var(--sidebarWidth);
  height: 100vh;
  position: fixed;
  top: 48px;
  left: calc(var(--sidebarWidth) * -1);
  background: var(--darkblue);
  transition: left 0.3s;
  z-index: 8888;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  box-shadow: 0 0 15px 0 var(--shadow);
}

#side.show { left: 0; }

/*side bar (and setting) button*/

#side-btn,
#setting-btn {
  border: none;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  background: var(--darkblue);
  color: var(--grey);
  transition-duration: 0.5s;
}

#side-btn:hover,
#setting-btn:hover {
  background: var(--lightblue);
}

@media only screen and (min-width: 1000px) {
  #side-btn {
    display: none;
  }
}

/*close button*/
#side-close {
  border: none;
  background: var(--darkblue);
  color: var(--grey);
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 50%;
  transition-duration: 1s;
  margin: 6px;
  padding: 7px 6px 6px 6px;
  aspect-ratio: 1/1;
}

#side-close > span {
  font-size: 32px;
}

#side-close:hover {
  background: var(--lightblue);
}

#side > section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

#side > section > a {
  color: var(--grey);
  display: flex;
  align-items: center;
  border-radius: 12px;
}

#side > section > a:not(.blanka) {
  margin: 5px;
  padding: 5px;  
}

.blanka { margin: 10px; }

#side > section > a:hover {
  background: var(--lightblue);
}

#side > section > a > span {
  margin-right: 10px;
}

/*-------- NAVBAR --------*/

nav:not(#side, #setting) {
  background: var(--darkblue);
  color: var(--grey);
  font-family: montserrat, sans-serif;
  position: fixed;
  display: flex;
  width: 100%;
  height: 48px;
  z-index: 9999;
}

nav:not(#side, #setting) > div {
  display: flex;
  align-items: center;
}

/*space the google icons*/
nav:not(#side, #setting) > div > a > span {
  margin-right: 3px;
}

/*tabs*/
nav:not(#side, #setting) > div > a {
  display: flex;
  color: var(--grey);
  align-items: center;
  padding: 12px 20px;
  transition-duration: 1s;
}

/*active tab*/
.active {
  background-color: var(--darkblue);
}

/*hover of tabs*/
nav:not(#side, #setting) > div > a:hover:not(.active) {
  background-color: var(--lightblue);
}

nav:not(#side, #setting) > div:first-of-type {
  --widthOfNavbar: 80%;
  width: var(--widthOfNavbar);
}

nav:not(#side, #setting) > div:last-of-type {
  width: 20%;
  justify-content: right;
}

@media only screen and (max-width: 1000px) {
  nav:not(#side, #setting) > div {
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  nav:not(#side, #setting) > div:first-of-type {
    display: none;
  }
  nav:not(#side, #setting) > div:last-of-type {
    width: 100%;
  }
}

/*-------- SETTINGS --------*/

#setting {
  --settingWidth: 200px;
  --settingHeight: 300px;
  width: var(--settingWidth);
  height: var(--settingHeight);
  position: fixed;
  top: calc(var(--settingHeight) * -1);
  left: calc(100% - var(--settingWidth)); 
  background: var(--lightbg);
  transition: top 0.3s;
  z-index: 8888;
  border-radius: 0px 0px 0px 50px;
  color: var(--grey);
}

#setting.show { 
  top: 48px;
  box-shadow: 0px 15px 15px 0 var(--shadow); 
}

/*close button*/
#setting-close {
  border: none;
  background: var(--lightbg);
  color: var(--grey2);
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  border-radius: 50%;
  transition-duration: 1s;
  margin: 6px;
  padding: 7px 6px 6px 6px;
  aspect-ratio: 1/1;
}

#setting-close > span {
  font-size: 32px;
}

#setting-close:hover {
  background: var(--lighterbg);
}

#setting > section {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#setting > section > h1 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 24px;
  color: var(--grey3)
}

#setting > section > a {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 12px;
  color: var(--grey3);
}

#setting > section > a:hover {
  background-color: var(--lighterbg);
}

#setting > section > a > span { margin-right: 10px; }

#setting > section > div { 
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100px;
  
  border: 3px solid var(--grey3);
  border-radius: 50px;

  padding: 5px;
}

#setting > section > div > button { 
  padding: 13px;
  width: 50px;
  height: 50px;
  margin: 0;

  border: none;
  background: var(--lightbg);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#dark {
  color: var(--darkblue);
}

#light {
  color: var(--dark-orange);
}

#dark.active-theme, #light.active-theme { background: var(--lighterbg); }

/*-------- MAIN --------*/

main {
  min-height: 2000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-------- HEADER --------*/

.header {
  color: white;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 350px;
  z-index: 2;
  box-sizing: border-box;
  transition-duration: 1s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header > .header-wrap > h1 {
  font-size: 100px;
  font-family: century-gothic;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.header::before {
  content: '';
  display: flex;
  background: linear-gradient(to bottom, var(--blackbluedark), var(--blackblue));
  position: absolute;
  border-radius: 0 0 50% 50%;
  width: 120vw;
  height: 75%;
  z-index: -1;
}

.header::after {
  content: '';
  display: flex;
  background: var(--blackblueOpacity);
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0 0 50% 50%;
  top: 80px;
  width: 120vw;
  height: 75%;
  z-index: -2;
}

.header-wrap { transform: translateY(2%); }

.header-wrap > h4 { font-size: 20px; }

.header-wrap > h1 > img { transform: translateY(3px); }

@media only screen and (max-width: 767px) {
  .header > .header-wrap > h1 {
    font-size: 54px;
  }
  .header > .header-wrap > h1 > img {
    width: 54px;
    transform: translateY(0px);
  }
  .header > .header-wrap > h4 {
    font-size: 14px;
  }
}

/*-------- NEWS --------*/

.news {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  background: var(--newsColor);
  background: radial-gradient(circle, var(--newsColor) 9%, var(--darkNewsColor) 100%); /* rgba(255,165,0,0.9) 9%, rgba(255,131,0,0.9) */
  
  border-radius: 24px;
  width: 80%;
  max-width: 500px;
  height: 200px;
  margin: 64px;
  margin-top: 96px;
  padding: 16px;
  box-shadow: 5px 5px 15px 0 var(--shadow);
}

.news > section {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: top;
  color: white;
}

.news > section > h1 {
  font-weight: bold;
  margin: 0;
}

.news > section > h1 > a { text-decoration: underline; color: white; }

.news > section > hr {
  width: 90%;
  display: block;
  background: white;
  border: 1px solid white;
  margin-left: 0;
  margin-top: 25px;
}

@media only screen and (max-width: 767px) {
  .news > section > hr {
    display: none;
  }
}

.news > span {
  font-size: 128px;
  margin: 0;
  color: white;

  display: flex;
  width: 30%;
  justify-content: right;
}

/*-------- MODULES --------*/

.modules {
  display: flex;
  flex-direction: column;
  
  max-width: 2000px; /* 910px */
  width: 100%;
  height: 900px; /* 700px */

  box-sizing: border-box;
  padding: 20px;
}

.modules-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.modules-title > h1 {
  font-weight: bold;
  font-family: century-gothic;
  color: var(--grey2);
  font-size: 64px;
  margin: 0;
}

.modules > section {
  --modulesSize: 200px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--modulesSize), auto));
  gap: 20px;
  padding-bottom: 40px;
  justify-content: center;

  overflow: auto;
  overflow-x: hidden;

  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
}

/* width */
#modules::-webkit-scrollbar {
  width: 0px;
  border: none;
}

#modules > li > a:not(#coming-soon) {
  width: var(--modulesSize);
  height: var(--modulesSize);
  max-width: var(--modulesSize);
  max-height: var(--modulesSize);
  
  border: none;
  border-radius: 22px;
  background: var(--blackblue);
  box-shadow: 0px 15px 15px 0 var(--shadow); 
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  box-sizing: border-box;

  text-decoration: none;
  text-transform: uppercase;
  font-family: century-gothic, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  color: var(--grey);
}

#modules > li > a > span {
  font-size: 72px;
  color: var(--babyblue);
  margin-top: 20px;
}

#modules > li > a:hover:not(#coming-soon) {
  background-color: var(--darkblue);
}

#coming-soon {
  width: var(--modulesSize);
  height: var(--modulesSize);
  max-width: var(--modulesSize);
  max-height: var(--modulesSize);
  
  border: none;
  border-radius: 22px;
  background: var(--lightbg);
  box-shadow: 0px 15px 15px 0 var(--shadow); 
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  box-sizing: border-box;

  text-decoration: none;
  text-transform: uppercase;
  font-family: century-gothic, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  color: var(--grey2);

  cursor: not-allowed;
}

#search {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 15px 12px;
  background-repeat: no-repeat;
  
  display: flex;
  width: 90%;
  
  font-size: 16px;
  
  padding: 12px 20px 12px 50px;
  margin-top: 20px;
  
  border: none;
  border-radius: 50px;

  box-sizing: border-box;
}

/*-------- DANGEROUS ZONE --------*/

.dangerous-zone {
  color: white;
  position: relative;
  /*top: 48px;*/
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 700px;
  z-index: 2;
  box-sizing: border-box;
  transition-duration: 1s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 128px;
}

.zone-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
}

.dangerous-zone > h1 {
  font-size: 38px;
  font-family: century-gothic;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 32px;
}

.zone-wrap > div {
  display: flex;
  gap: 20px;
}

.zone-wrap > button,
.zone-wrap > div > button {
  border-radius: 50px;
  border: 3px solid red;
  background: var(--bg);
  font-family: century-gothic;
  font-weight: bold;
  color: var(--themeFontColor);
  padding: 18px 32px;
}

.zone-wrap > button {
  width: 100%;
  margin-top: 20px;
}

.zone-wrap > button:hover,
.zone-wrap > div > button:hover {
  background-color: var(--lightbg);
  transition-duration: 1s;
}

.dangerous-zone::before {
  content: '';
  display: flex;
  background: var(--red);
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 200vw;
  height: 80%;
  z-index: -1;
  animation: glow1 2s infinite ease-in-out;
}

.dangerous-zone::after {
  content: '';
  display: flex;
  background: var(--darkred);
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 200vw;
  height: 95%;
  z-index: -2;
  animation: glow2 2s infinite ease-in-out;
}

@keyframes glow1 {
  0% { width: 200vw; }
  50% { width: 250vw; }
  100% { width: 200vw; }
}

@keyframes glow2 {
  0% { height: 95%; width: 200vw; }
  50% { height: 100%; width: 250vw; }
  100% { height: 95%; width: 200vw; }
}

/*-------- FOOTER --------*/

.hr-wrap {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin-top: 64px;
}

hr {
  width: 100%;
  border: 0.5px solid var(--grey2);
  background: var(--grey2);
}

footer {
  display: grid;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  gap: 20px;
  padding: 20px;
  padding-top: 0;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

footer > div > p {
  color: var(--grey2);
  text-align: center;
  font-size: 10px;
}

/*-------- SCROLLBAR --------*/

/* width */
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border: none;
}

/* Track */
body::-webkit-scrollbar-track {
  background: var(--lightbg); 
  border: none;
  z-index: -1;
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--darkblue); 
  border-radius: 6px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--lightblue); 
  cursor: move;
}
